section.main
  section.article
    h1 
      a(href="./2014/01/01/") blog title
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ipsa, aperiam odio dolorum officia quo obcaecati earum cumque voluptate itaque atque in fugit quae quod ratione culpa omnis aut at!
