@import '_settings'

normalize()
// base()

html
  font-size: 6.25%
body
  border-top: .5em solid turquoise
  background-color: #f2f2f2
  font-size: 16em
  line-height: 1.4em
header
  margin: 4em 0
footer
  margin: 3em 0
.title
  margin: .2em 0
  font-size: 2.5em
.sub-title
  margin: .2em 0
.main
  background-color: white
  border-radius: 5px
  padding: .5em 1em